<p> <%=@user.email%>'s posts</p>

<% @posts.each do |post| %>
<%= link_to image_tag(post.image.url), user_post_path(@user, post) %>
<% end %>
<br>
<br>
<div id = "add-link"><button><%=link_to "add a new post", new_user_post_path(@user.id) %></button></div>