<div id = "show-container">
  <%=link_to "back to all posts", user_path(@user), :class => "label" %>
  <br>
  <%= image_tag @post.image.url(:medium) %>
  <p class = "caption"><%= @post.caption %></p>
<%=link_to 'delete', user_post_path(@user, @post), :method => 'delete', :class => "delete-button"%>
</div>