@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);
body {
}

#homepage-container {
  text-align: center;
  width: 100%;
}

#heading {
  font-family: 'Homemade Apple', cursive;
  font-size: 40px;
}

li {
  list-style-type: none;
}

a {
  color: #272927;
  text-decoration: none;
}

#logo {
  width: 300px;
  height: 300px;
  margin: 0px;
}

.auth {
  cursor: pointer;
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  background-color: #43bd8e;
  width: 300px;
  height: 75px;
  margin: 50px auto;
  border-radius: 10px;
  display: block;
  border: 5px solid #272927;
  box-shadow: 0 20px 20px -15px #040203;
  transition: 2s;
  margin-top: 0;
}

.auth:hover {
  transition: 1s;
  background-color: #467b8d
}

@media (min-width: 700px) {
  * {
    margin: 0;
    padding: 0;
  }

  #logo {
    width: 300px;
    height: 300px;
  }

  #heading {
    font-size: 50px;
  }

  .auth {
    cursor: pointer;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    background-color: #43bd8e;
    width: 300px;
    height: 75px;
    margin: 50px auto;
    border-radius: 10px;
    display: block;
    border: 5px solid #272927;
    box-shadow: 0 20px 20px -15px #040203;
    transition: 2s;
    margin-top: 0;
  }
}